{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <h1>Edit Book</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32, placeholder=current_book.title) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32, placeholder=current_book.author) }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.genre.label }}<br>
            {{ form.genre(size=32, placeholder=current_book.genre) }}<br>
            {% for error in form.genre.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.format.label }}<br>
            {{ form.format(size=32, placeholder=current_book.format) }}<br>
            {% for error in form.format.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>

{% endblock %}
