{% extends "base.html" %}

{% block content %}
	
    {% for book in books%}
    <div class="container text-center"><ul>
            <li style="list-style-type: none"><h3>{{ book.title }}</h3></li>
            <li style="list-style-type: none"> {{ book.author }} </li>
            <li style="list-style-type: none"> {{book.genre }} </li>
            <li style="list-style-type: none"> {{book.format }} </li>
            
            
        	{% if request.path=='/index' or request.path=='/' %}
           	 <li style="list-style-type: none"> Posted by: {{user.query.get(book.poster_id).username}} </li>
            {% endif %}
    </div>
    {% endfor %}
{% endblock %}
